In [1]:
import pandas as pd

In [2]:
#จัดให้ไฟล์ข้อมูลที่อิมพอจมาอยู่ที่เดียวกับไฟล์นี้
# import csv
oil = pd.read_csv('Oil.csv')
oil

,Date,Open,High,Low,Close,Adj Close,Volume
0,11/4/2016,39.720001,40.750000,39.250000,40.360001,40.360001,679351.0
1,12/4/2016,40.349998,42.250000,40.090000,42.169998,42.169998,796837.0
2,13/4/2016,41.630001,42.419998,41.240002,41.759998,41.759998,730437.0
3,14/4/2016,41.540001,42.160000,40.840000,41.500000,41.500000,488614.0
4,15/4/2016,41.430000,41.730000,39.980000,40.360001,40.360001,520146.0
...,...,...,...,...,...,...,...
1252,2/4/2021,61.450001,61.450001,61.450001,61.450001,61.450001,605567.0
1253,5/4/2021,61.500000,61.500000,57.630001,58.650002,58.650002,438864.0
1254,6/4/2021,58.799999,60.900002,58.619999,59.330002,59.330002,457348.0
1255,7/4/2021,59.259998,60.040001,58.119999,59.770000,59.770000,475537.0
1256,8/4/2021,59.520000,59.930000,58.820000,59.599998,59.599998,475537.0

In [4]:
oil.dtypes

Date          object
Open         float64
High         float64
Low          float64
Close        float64
Adj Close    float64
Volume       float64
dtype: object

In [5]:
#set index เป็น date ตั้งแต่ import มาเลย
oil = pd.read_csv('Oil.csv',index_col='Date')
oil

                Open       High        Low      Close  Adj Close    Volume
Date
11/4/2016  39.720001  40.750000  39.250000  40.360001  40.360001  679351.0
12/4/2016  40.349998  42.250000  40.090000  42.169998  42.169998  796837.0
13/4/2016  41.630001  42.419998  41.240002  41.759998  41.759998  730437.0
14/4/2016  41.540001  42.160000  40.840000  41.500000  41.500000  488614.0
15/4/2016  41.430000  41.730000  39.980000  40.360001  40.360001  520146.0
...              ...        ...        ...        ...        ...       ...
2/4/2021   61.450001  61.450001  61.450001  61.450001  61.450001  605567.0
5/4/2021   61.500000  61.500000  57.630001  58.650002  58.650002  438864.0
6/4/2021   58.799999  60.900002  58.619999  59.330002  59.330002  457348.0
7/4/2021   59.259998  60.040001  58.119999  59.770000  59.770000  475537.0
8/4/2021   59.520000  59.930000  58.820000  59.599998  59.599998  475537.0

[1257 rows x 6 columns]

In [2]:
#import excel
#เปิด sheet หน้าสุดเสมอ
oil_xlsx = pd.read_excel('Oil.xlsx')

#

In [3]:
oil_xlsx
#

,Date,Open,High,Low,Close,Adj Close,Volume
0,2016-04-11,39.720001,40.750000,39.250000,40.360001,40.360001,679351.0
1,2016-04-12,40.349998,42.250000,40.090000,42.169998,42.169998,796837.0
2,2016-04-13,41.630001,42.419998,41.240002,41.759998,41.759998,730437.0
3,2016-04-14,41.540001,42.160000,40.840000,41.500000,41.500000,488614.0
4,2016-04-15,41.430000,41.730000,39.980000,40.360001,40.360001,520146.0
...,...,...,...,...,...,...,...
1252,2021-04-02,61.450001,61.450001,61.450001,61.450001,61.450001,605567.0
1253,2021-04-05,61.500000,61.500000,57.630001,58.650002,58.650002,438864.0
1254,2021-04-06,58.799999,60.900002,58.619999,59.330002,59.330002,457348.0
1255,2021-04-07,59.259998,60.040001,58.119999,59.770000,59.770000,475537.0
1256,2021-04-08,59.520000,59.930000,58.820000,59.599998,59.599998,475537.0

In [7]:
# พอเป็น excel อาจมีหลาย sheet เอาหน้า sheet อื่นมา
oil_xlsx_cvx = pd.read_excel('Oil.xlsx',sheet_name=['CVX'])
oil_xlsx_cvx

{'CVX':            Date        Open        High         Low       Close   Adj Close  \
 0    2016-04-11   96.870003   97.300003   95.150002   95.239998   76.680489
 1    2016-04-12   95.690002   97.940002   95.430000   97.510002   78.508133
 2    2016-04-13   97.800003   97.910004   97.029999   97.599998   78.580582
 3    2016-04-14   97.650002   98.269997   97.360001   97.980003   78.886536
 4    2016-04-15   97.709999   97.800003   96.959999   97.230003   78.282684
 ...         ...         ...         ...         ...         ...         ...
 1253 2021-04-01  105.260002  105.860001  104.209999  105.750000  105.750000
 1254 2021-04-05  105.730003  105.830002  104.169998  104.510002  104.510002
 1255 2021-04-06  104.250000  105.080002  103.449997  103.580002  103.580002
 1256 2021-04-07  103.470001  104.570000  103.260002  104.190002  104.190002
 1257 2021-04-08  103.519997  103.620003  102.070000  103.019997  103.019997

        Volume
 0     6644200
 1     8783400
 2     6406800
 3     6162200
 4     6551600
 ...       ...
 1253  8514700
 1254  8692700
 1255  8125100
 1256  7699300
 1257  8283000

 [1258 rows x 7 columns]}

In [8]:
oil_xlsx = pd.read_excel('Oil.xlsx',sheet_name=['Oil','CVX'])
oil_xlsx

{'Oil':            Date       Open       High        Low      Close  Adj Close  \
 0    2016-04-11  39.720001  40.750000  39.250000  40.360001  40.360001
 1    2016-04-12  40.349998  42.250000  40.090000  42.169998  42.169998
 2    2016-04-13  41.630001  42.419998  41.240002  41.759998  41.759998
 3    2016-04-14  41.540001  42.160000  40.840000  41.500000  41.500000
 4    2016-04-15  41.430000  41.730000  39.980000  40.360001  40.360001
 ...         ...        ...        ...        ...        ...        ...
 1252 2021-04-02  61.450001  61.450001  61.450001  61.450001  61.450001
 1253 2021-04-05  61.500000  61.500000  57.630001  58.650002  58.650002
 1254 2021-04-06  58.799999  60.900002  58.619999  59.330002  59.330002
 1255 2021-04-07  59.259998  60.040001  58.119999  59.770000  59.770000
 1256 2021-04-08  59.520000  59.930000  58.820000  59.599998  59.599998

         Volume
 0     679351.0
 1     796837.0
 2     730437.0
 3     488614.0
 4     520146.0
 ...        ...
 1252  605567.0
 1253  438864.0
 1254  457348.0
 1255  475537.0
 1256  475537.0

 [1257 rows x 7 columns],
 'CVX':            Date        Open        High         Low       Close   Adj Close  \
 0    2016-04-11   96.870003   97.300003   95.150002   95.239998   76.680489
 1    2016-04-12   95.690002   97.940002   95.430000   97.510002   78.508133
 2    2016-04-13   97.800003   97.910004   97.029999   97.599998   78.580582
 3    2016-04-14   97.650002   98.269997   97.360001   97.980003   78.886536
 4    2016-04-15   97.709999   97.800003   96.959999   97.230003   78.282684
 ...         ...         ...         ...         ...         ...         ...
 1253 2021-04-01  105.260002  105.860001  104.209999  105.750000  105.750000
 1254 2021-04-05  105.730003  105.830002  104.169998  104.510002  104.510002
 1255 2021-04-06  104.250000  105.080002  103.449997  103.580002  103.580002
 1256 2021-04-07  103.470001  104.570000  103.260002  104.190002  104.190002
 1257 2021-04-08  103.519997  103.620003  102.070000  103.019997  103.019997

        Volume
 0     6644200
 1     8783400
 2     6406800
 3     6162200
 4     6551600
 ...       ...
 1253  8514700
 1254  8692700
 1255  8125100
 1256  7699300
 1257  8283000

 [1258 rows x 7 columns]}

In [9]:
#อิทพอจมาสองแล้วเลือกเอา
oil_xlsx['Oil']

,Date,Open,High,Low,Close,Adj Close,Volume
0,2016-04-11,39.720001,40.750000,39.250000,40.360001,40.360001,679351.0
1,2016-04-12,40.349998,42.250000,40.090000,42.169998,42.169998,796837.0
2,2016-04-13,41.630001,42.419998,41.240002,41.759998,41.759998,730437.0
3,2016-04-14,41.540001,42.160000,40.840000,41.500000,41.500000,488614.0
4,2016-04-15,41.430000,41.730000,39.980000,40.360001,40.360001,520146.0
...,...,...,...,...,...,...,...
1252,2021-04-02,61.450001,61.450001,61.450001,61.450001,61.450001,605567.0
1253,2021-04-05,61.500000,61.500000,57.630001,58.650002,58.650002,438864.0
1254,2021-04-06,58.799999,60.900002,58.619999,59.330002,59.330002,457348.0
1255,2021-04-07,59.259998,60.040001,58.119999,59.770000,59.770000,475537.0
1256,2021-04-08,59.520000,59.930000,58.820000,59.599998,59.599998,475537.0

In [10]:
oil_xlsx['CVX']

,Date,Open,High,Low,Close,Adj Close,Volume
0,2016-04-11,96.870003,97.300003,95.150002,95.239998,76.680489,6644200
1,2016-04-12,95.690002,97.940002,95.430000,97.510002,78.508133,8783400
2,2016-04-13,97.800003,97.910004,97.029999,97.599998,78.580582,6406800
3,2016-04-14,97.650002,98.269997,97.360001,97.980003,78.886536,6162200
4,2016-04-15,97.709999,97.800003,96.959999,97.230003,78.282684,6551600
...,...,...,...,...,...,...,...
1253,2021-04-01,105.260002,105.860001,104.209999,105.750000,105.750000,8514700
1254,2021-04-05,105.730003,105.830002,104.169998,104.510002,104.510002,8692700
1255,2021-04-06,104.250000,105.080002,103.449997,103.580002,103.580002,8125100
1256,2021-04-07,103.470001,104.570000,103.260002,104.190002,104.190002,7699300
1257,2021-04-08,103.519997,103.620003,102.070000,103.019997,103.019997,8283000

#import จากพวกเว็ปอื่นๆ บ้าง

In [5]:
from pandas_datareader import data as pdr  # import ตรงนี้สำคัญนะจะขึ้นไม่ขึ้น
import pandas as pd 
import yfinance as yf
yf.pdr_override()  #must have this line for using yf!!

In [13]:
start = '2019-01-01'
end   = '2023-12-31'

In [7]:
tsla = pdr.get_data_yahoo('TSLA', start=start, end=end)

[*********************100%***********************]  1 of 1 completed

In [8]:
tsla

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2019-01-02,20.406668,21.008667,19.920000,20.674667,20.674667,174879000
2019-01-03,20.466667,20.626667,19.825333,20.024000,20.024000,104478000
2019-01-04,20.400000,21.200001,20.181999,21.179333,21.179333,110911500
2019-01-07,21.448000,22.449333,21.183332,22.330667,22.330667,113268000
2019-01-08,22.797333,22.934000,21.801332,22.356667,22.356667,105127500
...,...,...,...,...,...,...
2023-02-13,194.419998,196.300003,187.610001,194.639999,194.639999,172475500
2023-02-14,191.940002,209.820007,189.440002,209.250000,209.250000,216455700
2023-02-15,211.759995,214.660004,206.110001,214.240005,214.240005,182108600
2023-02-16,210.779999,217.649994,201.839996,202.039993,202.039993,227455200
2023-02-17,199.985001,204.587997,199.169998,202.910004,202.910004,55071285

In [9]:
#ทำข้อมูล daily > weekly
tsla_weekly = tsla.asfreq('W-Mon')
tsla_weekly

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2019-01-07,21.448000,22.449333,21.183332,22.330667,22.330667,113268000.0
2019-01-14,22.825333,22.833332,22.266666,22.293333,22.293333,78709500.0
2019-01-21,NaN,NaN,NaN,NaN,NaN,NaN
2019-01-28,19.527332,19.830667,19.183332,19.758667,19.758667,96349500.0
2019-02-04,20.865334,21.020000,20.125334,20.859333,20.859333,110281500.0
...,...,...,...,...,...,...
2023-01-16,NaN,NaN,NaN,NaN,NaN,NaN
2023-01-23,135.869995,145.380005,134.270004,143.750000,143.750000,203119200.0
2023-01-30,178.050003,179.770004,166.500000,166.660004,166.660004,230878800.0
2023-02-06,193.009995,198.169998,189.919998,194.759995,194.759995,186188100.0
2023-02-13,194.419998,196.300003,187.610001,194.639999,194.639999,172475500.0

In [10]:
#ใช้คำสั่ง resample มาทำก็ได้อีกทาง
tsla_monthly = tsla.resample('M').mean()
tsla_monthly

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2019-01-31,21.112730,21.567587,20.697301,21.232952,21.232952,1.254658e+08
2019-02-28,20.479789,20.783614,20.173825,20.515228,20.515228,1.014869e+08
2019-03-31,18.591397,18.848412,18.229968,18.517143,18.517143,1.527096e+08
2019-04-30,17.801175,18.054222,17.487746,17.777048,17.777048,1.648195e+08
2019-05-31,14.702424,14.953273,14.359667,14.647697,14.647697,1.926810e+08
2019-06-30,14.218700,14.538800,13.965567,14.247767,14.247767,1.612280e+08
2019-07-31,16.082000,16.332576,15.880485,16.158818,16.158818,1.359114e+08
2019-08-31,15.063030,15.265667,14.777273,15.006849,15.006849,9.122086e+07
2019-09-30,15.804700,16.081700,15.537233,15.817433,15.817433,1.018315e+08
2019-10-31,17.596348,18.000232,17.375217,17.756986,17.756986,1.486843e+08
2019-11-30,22.587134,22.838600,22.259300,22.553333,22.553333,1.183281e+08
2019-12-31,24.979746,25.449175,24.734159,25.179651,25.179651,1.479143e+08
2020-01-31,34.869683,35.761904,34.312667,35.243936,35.243936,2.908704e+08
2020-02-29,52.983614,55.384035,51.096070,53.163122,53.163122,3.730948e+08
2020-03-31,37.595031,39.137181,35.658031,37.273425,37.273425,2.870011e+08
2020-04-30,44.352985,45.773460,42.737587,44.239905,44.239905,2.724839e+08
2020-05-31,53.270667,54.382400,52.023033,53.295033,53.295033,2.045277e+08
2020-06-30,63.879576,65.391061,62.578000,64.236152,64.236152,1.743905e+08
2020-07-31,97.662666,101.008272,93.770606,97.342728,97.342728,2.581592e+08
2020-08-31,118.170762,122.452633,115.449777,120.019905,120.019905,2.224826e+08
2020-09-30,138.094286,142.752538,131.888571,137.831745,137.831745,2.480407e+08
2020-10-31,143.496818,145.610606,140.409395,142.403181,142.403181,1.136818e+08
2020-11-30,154.757665,158.694499,151.111833,155.204166,155.204166,1.173898e+08
2020-12-31,210.501363,215.940910,205.152576,212.939545,212.939545,1.631381e+08
2021-01-31,275.725791,281.719997,270.357716,276.258947,276.258947,1.114255e+08
2021-02-28,265.857542,270.785787,258.041054,264.756491,264.756491,8.255651e+07
2021-03-31,220.130724,225.836812,211.452174,218.934202,218.934202,1.229286e+08
2021-04-30,236.427620,241.251747,231.734762,236.539365,236.539365,9.693424e+07
2021-05-31,206.239336,210.278999,201.465501,205.584335,205.584335,9.377637e+07
2021-06-30,208.752122,212.432725,205.685910,208.973183,208.973183,7.089844e+07
2021-07-31,219.840953,223.639840,215.680000,219.711588,219.711588,6.406426e+07
2021-08-31,234.811213,238.180455,231.886364,235.081062,235.081062,5.199885e+07
2021-09-30,250.604284,253.858095,247.543493,251.317463,251.317463,5.573876e+07
2021-10-31,289.953491,296.909206,287.247936,292.783017,292.783017,7.556209e+07
2021-11-30,372.588890,382.863017,362.036666,373.554125,373.554125,9.273021e+07
2021-12-31,341.477726,348.253938,330.886665,339.629999,339.629999,6.955308e+07
2022-01-31,339.770000,349.012334,326.520500,336.722830,336.722830,9.580032e+07
2022-02-28,292.789474,301.286843,284.898768,292.961577,292.961577,7.321719e+07
2022-03-31,303.253333,311.332608,296.599713,304.793186,304.793186,7.518578e+07
2022-04-30,337.054169,344.035336,325.974168,332.462503,332.462503,7.604799e+07
2022-05-31,256.985554,264.414288,246.076190,255.223333,255.223333,9.277246e+07
2022-06-30,234.472539,241.544444,228.351111,234.025873,234.025873,9.577276e+07
2022-07-31,248.886668,255.841666,243.754666,251.394666,251.394666,8.724420e+07
2022-08-31,297.223042,301.852028,290.238551,294.869857,294.869857,7.370710e+07
2022-09-30,287.885710,294.027140,282.823809,288.734763,288.734763,6.187005e+07
2022-10-31,224.126190,229.788573,217.481905,223.810477,223.810477,8.263158e+07
2022-11-30,193.479049,197.352381,186.915238,191.246666,191.246666,8.977501e+07
2022-12-31,155.897143,158.921428,150.161429,152.970476,152.970476,1.401798e+08
2023-01-31,132.316000,137.242999,128.430500,134.195999,134.195999,1.947751e+08
2023-02-28,196.123460,203.188308,191.680000,198.446923,198.446923,1.914617e+08

import data จาก quandl  เป็นที่น่าเชื่อถือสุด บางอันฟรีบ้างบางอันไม่ฟรี

In [11]:
import quandl

In [12]:
quandl.ApiConfig.api_key = '1q9ZmWK_APi_99KLpW4Z'

In [14]:
msft = quandl.get('EOD/MSFT',start_date=start,end_date=end)
msft

NotFoundError: (Status 404) (Quandl Error QECx02) You have submitted an incorrect Dataset code. Please check your Dataset codes and try again.

In [15]:
# quandl เหมือนเก่าไปแล้ว กลายเป็น nasdaq data link ไปแล้ว

import จาก drive  (*********ใช้ ได้เฉพาะใน google colab********)

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [16]:
path = "/content/drive/MyDrive/File/Oil.csv"

In [17]:
df = pd.read_csv(path)

FileNotFoundError: [Errno 2] No such file or directory: '/content/drive/MyDrive/File/Oil.csv'

In [18]:
df

NameError: name 'df' is not defined

Alpha vantage

In [19]:
alpha_api = 'VEWR22HVVY9YDUYP' #ไปเอามาจากเว็ปเขา

In [20]:
from alpha_vantage.timeseries import TimeSeries
from alpha_vantage.foreignexchange import ForeignExchange
from alpha_vantage.cryptocurrencies import CryptoCurrencies

In [21]:
import pandas as pd

In [22]:
#ตัวที่ใช่้ในการ import stock
ts = TimeSeries(key=alpha_api,output_format='pandas')
ts

In [23]:
#ลอง import ข้อมูลหุ้น msft 
data1 , metadata1 = ts.get_intraday(symbol='MSFT',interval='60min',outputsize='full')

In [24]:
data1

                      1. open   2. high    3. low  4. close  5. volume
date
2023-02-16 20:00:00  260.7500  261.2500  260.4000  260.7500    34867.0
2023-02-16 19:00:00  261.1500  261.2000  260.4800  260.7500    40403.0
2023-02-16 18:00:00  261.8200  262.1500  261.1100  261.1500   293965.0
2023-02-16 17:00:00  262.1500  262.4076  261.3300  261.7900  1706965.0
2023-02-16 16:00:00  265.0800  265.2500  261.9000  262.1400  5960665.0
...                       ...       ...       ...       ...        ...
2022-12-22 09:00:00  243.3956  243.3956  239.6848  240.1437    62715.0
2022-12-22 08:00:00  243.4852  243.4852  242.6972  242.9865    20029.0
2022-12-22 07:00:00  243.2059  243.5351  243.2059  243.5351     2573.0
2022-12-22 06:00:00  243.8942  243.8942  243.8044  243.8044     2054.0
2022-12-22 05:00:00  244.2333  244.2333  243.9441  244.0837     4312.0

[608 rows x 5 columns]

In [25]:
metadata1

{'1. Information': 'Intraday (60min) open, high, low, close prices and volume',
 '2. Symbol': 'MSFT',
 '3. Last Refreshed': '2023-02-16 20:00:00',
 '4. Interval': '60min',
 '5. Output Size': 'Full size',
 '6. Time Zone': 'US/Eastern'}

In [26]:
#import forex
fx = ForeignExchange(key=alpha_api,output_format='pandas')

In [27]:
data2,metadata2 = fx.get_currency_exchange_rate(from_currency='EUR',to_currency='USD')

In [28]:
data2

,1. From_Currency Code,2. From_Currency Name,3. To_Currency Code,4. To_Currency Name,5. Exchange Rate,6. Last Refreshed,7. Time Zone,8. Bid Price,9. Ask Price
Realtime Currency Exchange Rate,EUR,Euro,USD,United States Dollar,1.06655290,2023-02-17 16:31:01,UTC,1.06654687,1.06656948

In [30]:
metadata2

In [31]:
#import crypto
cc = CryptoCurrencies(key=alpha_api,output_format='pandas')

In [32]:
data3 , metadata3 = cc.get_digital_currency_daily(symbol='BTC',market='USD')

In [33]:
data3

,1a. open (USD),1b. open (USD),2a. high (USD),2b. high (USD),3a. low (USD),3b. low (USD),4a. close (USD),4b. close (USD),5. volume,6. market cap (USD)
date,,,,,,,,,,
2023-02-17,23517.72,23517.72,23778.22,23778.22,23339.37,23339.37,23739.19,23739.19,40088.848510,40088.848510
2023-02-16,24322.87,24322.87,25250.00,25250.00,23505.25,23505.25,23517.72,23517.72,450080.683660,450080.683660
2023-02-15,22199.84,22199.84,24380.00,24380.00,22047.28,22047.28,24324.05,24324.05,375669.161110,375669.161110
2023-02-14,21774.63,21774.63,22319.08,22319.08,21532.77,21532.77,22199.84,22199.84,361958.401090,361958.401090
2023-02-13,21782.37,21782.37,21894.99,21894.99,21351.07,21351.07,21773.97,21773.97,295730.767910,295730.767910
...,...,...,...,...,...,...,...,...,...,...
2020-05-28,9204.07,9204.07,9625.47,9625.47,9110.00,9110.00,9575.89,9575.89,74110.787662,74110.787662
2020-05-27,8841.00,8841.00,9225.00,9225.00,8811.73,8811.73,9204.07,9204.07,68910.355514,68910.355514
2020-05-26,8900.35,8900.35,9017.67,9017.67,8700.00,8700.00,8841.18,8841.18,58299.770138,58299.770138
2020-05-25,8718.14,8718.14,8979.66,8979.66,8642.72,8642.72,8900.35,8900.35,62833.910949,62833.910949
2020-05-24,9179.01,9179.01,9298.00,9298.00,8700.00,8700.00,8720.34,8720.34,70379.866450,70379.866450

In [34]:
metadata3

{'1. Information': 'Daily Prices and Volumes for Digital Currency',
 '2. Digital Currency Code': 'BTC',
 '3. Digital Currency Name': 'Bitcoin',
 '4. Market Code': 'USD',
 '5. Market Name': 'United States Dollar',
 '6. Last Refreshed': '2023-02-17 00:00:00',
 '7. Time Zone': 'UTC'}